.dropdown-menu{
  width:max-content
}
.chooseProfile{
    padding: 10px 20px 0 20px;
    float: right;
}
.chooseProfileBut{
    background-color: #3326ae;
    color: white;
}

.chooseProfileBut :hover{
    color: black !important;
}
.ac{
    
    text-align: center !important;
}

.switch-on{
    background-color: #ff9211 !important;
    color: white;
}
.switch{
    border: none !important;
    border-color: transparent !important;
    border-radius: 25px;
    padding-right: 15px;
    
}
.switch :hover{
    color: white;
}
.switch-off{
    background-color: #48465f !important;
    color: white;
}
#MainDiv{
    padding: 5px 0;
}
#DropDownBut{
    color: white;
    padding: 0 0 10px 0 !important;
}
#DropDownBut :hover{
    color: grey !important;
}

