.rectangle {
    min-height: 200px;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa !important;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }