.machineCard {
  width: 100%;
  height: max-content;
  padding: 40px 20px 10px 20px;
  
  margin: 5px 0;
  background-color: white !important;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ac {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  border: 0;
  margin-bottom: 5px;
  background-color: transparent !important;

}

.ac:focus {
  outline: none !important;

}
p{
  outline: none;
  border:0 !important;
}
.closeBut{
  background-color: gray;
  border-radius: 30px;
  padding: 8px;
  float:right
}


